__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
.env/
env3/
Pipfile.lock
.python-version

.env
.env.*
!.env.example
secrets.toml

.vscode/
.idea/
*.swp
*.swo

*.db
*.sqlite3
.local_db/

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

.DS_Store
Thumbs.db

.ruff_cache
